# Copy to .env and adjust values
# SECURITY
SECRET_KEY=change-me-dev-key
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE (PostgreSQL default)
DJANGO_DB_NAME=playstore_db
DJANGO_DB_USER=playstore_user
DJANGO_DB_PASSWORD=playstore_pass
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432

# Gunicorn (if using Docker production image)
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

# Dev server override
RUN_HOST=127.0.0.1
RUN_PORT=8000

# Import control
NO_IMPORT=0
